header {
/*display: flex;*/
justify-content: center;

align-items: center;
/*position: sticky; Fijar en la parte superior */
top: 0; /* Anclar en la parte superior */
width: 100%;
/*z-index: 10; */
}
     /*Estilos generales */
      body {
          margin: 0;
          padding: 0;
          font-family: Arial, sans-serif;
      }

      /* Estilo para las secciones del contenido */
      main div {
        /*padding-top: 30vh;*/
          width: 100%;
          height: 14rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          margin-top: 1rem; /* Espacio para el encabezado */
          margin-bottom: 1rem;
      }

      /* Estilos para las diferentes secciones */
      .section1 {
        height: 600px;
          background-color: #D3D3D3; /* Cielo */
          
      }
     
      .section2 {
        height: 600px;
          background-color: #eff5de; /* Ámbar */
      }
      .section3 {
        height: 600px;
          background-color: #fcf9c4; /* Rosa */
      }

      /* Estilo para el pie de página */
      footer {
          width: 100%;
          height: 7rem;
          background-color: #87CEEB; /* Rojo */
          position: sticky;
          /*z-index: 10;*/
          left: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      /*///////// navegador /////////////////  */

      #menu ul li a {
          text-decoration: none;
          color: #060606;
          transition: color 0.3s;   
        }  
      #menu ul li a:hover {
       color: hsl(0, 0%, 100%); /* Cambia el color al pasar el ratón por encima */
      }
        .first-letter {
          color: white;
        }    
        .carrusel-itemdos {
          min-width: 330px;
         /* max-width: 18px;*/
          height: 250px;
         cursor: pointer;
        }
        .botonavegador {
          margin-top: 15px;
          font-size: 30px; /* Ajusta el tamaño de fuente según tus preferencias */
          font-weight: bold; /* Aplica un estilo de fuente en negrita si deseas */
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra al texto */
          display: flex;
          align-items: center; /* Centra horizontalmente*/ 
          justify-content: center;
          margin-bottom: 0px;
          margin-top: 0px;
          
        }
        .botonavegador3 {
          font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
          font-weight: bold; /* Aplica un estilo de fuente en negrita si deseas */
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra al texto */
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0px;
          margin-top: 0px;
          /*margin-bottom: 0px;*/
        }

        .botonavegador2 {
          /*background-color: #fff;*/
          font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
          font-weight: bold; /* Aplica un estilo de fuente en negrita si deseas */
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra al texto */
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0px;
          margin-top: 0px;
         /* padding: 0 7px;*/
        }
        .list {
          font-size: 17px;
          padding: 2px;
          display: inline;
          /*color:#d5f5f4;*/
        }

        .declare{

         background-color: #fff;
          font-size: 13px; /* Ajusta el tamaño de fuente según tus preferencias */
          font-weight: bold; /* Aplica un estilo de fuente en negrita si deseas */
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Agrega una sombra al texto */
          display: inline-block;;
          justify-content: center;
          align-items: center;
          padding: 2px;
          padding-left: 3%; /* Agrega un espacio del 5% del ancho de la pantalla a la izquierda */
          padding-right: 3%; /* Agrega un espacio del 5% del ancho de la pantalla a la derecha */
         /* margin-bottom: 0px;
          margin-top: 0px;*/
          
        }

.foto2desender{
  margin-top: 25px; 
}
       /********** menu lateral *********************************************

         /* Clase para ocultar la navegación lateral */
    .hidden {
        left: -240px;
    }

    /* Clase para mostrar la navegación lateral */
    .visible {
        left: 0;
    }

    /* Estilo para la navegación lateral */
    #side-menu {
        position: fixed;
        top: 10;
        width: 230px;
        height: 100%;
        background-color: #333;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #fff;
        transition: left 400ms;
    }

    /* Estilo para el botón de abrir */
    #open-menu-button {
        font-size: 20px;
        cursor: pointer;
        color: #333;
        background-color: #87CEEB;
        padding: 5px 10px;
        border-radius: 5px;
        position: fixed;
        top: 140px;
        left: 10px;
        z-index: 100;
    }

    /* Estilo para el botón de cerrar */
    #side-menu .close-button {
        text-align: right;
        font-size: 24px;
        cursor: pointer;
    }

    /* Estilos para los enlaces del menú */
    #side-menu a {
        color: #fff;
        text-decoration: none;
        transition: color 300ms;
    }

    #side-menu a:hover {
        color: #87CEEB;
    }

    /************ carusel header *******/

    .carrusel {
      background-color: #fff;  
      height: 15vh;
      display: flex;
      align-items: center;
    }
    .carrusel-items {
      top: 0;
      display: flex;
      overflow-x: hidden;
      /*padding: 0px 0px;*/
    }
    .carrusel-item {
      min-width: 250px;
      max-width: 18px;
      height: 110px;
     cursor: pointer;
    }
    .carrusel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
